//////////////////////
// xtend
//////////////////////

// core

@import (optional) '../../vendor/minimit/xtend-library/styles/__core'; // dev
@import (optional) '../../../xtend-library/styles/__core'; // composer
@import (optional) '../../../../../../../vendor/minimit/xtend-library/styles/__core'; // theming

// theme

@import (optional) '../../vendor/minimit/xtend-library/dist/styles/__theme'; // dev
@import (optional) '../../../xtend-library/dist/styles/__theme'; // composer
@import (optional) '../xtend-library/styles/__theme'; // theming

// set to false to use only mixins

@generate-grid: true;
@generate-utils: true;
@generate-margins: true;
@generate-paddings: true;
@generate-structure: true;
@generate-flex-utils: true;
@generate-breakpoints: sm, md, lg; // only for this breakpoints (set to false to not generate responsive classes)

//////////////////////
// includes
//////////////////////

// modules

@import 'modules/_catalog';
@import 'modules/_catalog-gallery';
@import 'modules/_catalog-search';
@import 'modules/_checkout';
@import 'modules/_customer';
@import 'modules/_gift';
@import 'modules/_layered-navigation';
@import 'modules/_newsletter';
@import 'modules/_review';
@import 'modules/_sales';
@import 'modules/_swatches';
@import 'modules/_various';
@import 'modules/_wishlist';

// custom

@import '_layout';
@import '_shared';
@import '_header';
@import '_footer';
@import '_xtend2mage';
