//////////////////////
// xtend
//////////////////////

@import '../../node_modules/xtend-library/dist/core/__core'; // put package manager xtend-library core path
@import '../../node_modules/xtend-library/dist/theme/__theme'; // put xtend-library theme path

// set to false to not generate any classes
// set to true to only generate non responsive classes
// set to array of breakpoints to generate non responsive classes and responsive classes for those breakpoints

@classes-icons: true;
@classes-util: sm, md, lg;
@classes-margin: false;
@classes-padding: false;
@classes-layout: sm, md, lg;

//////////////////////
// icon
//////////////////////

// font-face

@icons-family: 'luma-icons';
@icons-path: '../icons/Luma-Icons';

@font-face {
  font-family: @icons-family;
  src: url('@{icons-path}.eot');
  src: url('@{icons-path}.eot?#iefix') format('embedded-opentype'),
  url('@{icons-path}.woff2') format('woff2'),
  url('@{icons-path}.woff') format('woff'),
  url('@{icons-path}.ttf') format('truetype'),
  url('@{icons-path}.svg#@{icons-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

// icons
// USAGE MARKUP: <span class="xt-icon-close"></span>)
// USAGE LESS : .by-key(@icons, close); .icon(@content:@by-key, @size:@icon-small, @sr-only:false, @position:after);

@icons: // xtend icons
  close '\e616',
  chevron-up '\e621',
  chevron-left '',
  chevron-right '',
  chevron-down '\e622',
    // luma icons
  menu '\e609',
  search '\e615',
  cart '\e611',
  edit '\e601',
  arrow-up '\e613',
  arrow-down '\e614',
  wishlist '\e600',
  wishlist-empty '\e601',
  trash '\e604',
  prev '\e617',
  next '\e608',
  grid '\e60d',
  list '\e60b',
  star '\e605',
  star-empty '\e625',
  compare '\e61e',
  compare-empty '\e61f',
  envelope '\e61d',
    // luma icons unused
  info '\e60c',
  success ' \e60e',
  error '\e61f',
  warning ' \e602',
  update '\e603',
  print ' \e624',
  account '\e627',
  download '\e626',
  private '\e629',
  present '\e62a',
  lock '\e629',
  calendar '\e62b',
  return '\e628',
  settings '\e606',
  location '\e60a',
  collapse '\e60f',
  checkmark '\e610',
  calendar '\e612',
  pointer-up '\e618',
  pointer-down '\e607',
  pointer-left '\e61a',
  pointer-right '\e619',
  flag '\e61b',
  expand '\e61c',
  comment '\e620',
  comment-reflected '\e60e',
  help '\e623',
  arrow-up-thin '\e633',
  arrow-down-thin '\e626',
  arrow-left-thin '\e625',
  arrow-right-thin '\e624';

//////////////////////
// theme
//////////////////////

// modules

@import 'modules/_catalog';
@import 'modules/_catalog-compare';
@import 'modules/_catalog-gallery';
@import 'modules/_catalog-product';
@import 'modules/_catalog-search';
@import 'modules/_checkout';
@import 'modules/_checkout-cart';
@import 'modules/_checkout-minicart';
@import 'modules/_customer';
@import 'modules/_gift';
@import 'modules/_layered-navigation';
@import 'modules/_newsletter';
@import 'modules/_review';
@import 'modules/_sales';
@import 'modules/_swatches';
@import 'modules/_various';
@import 'modules/_wishlist';

// custom

@import '_layout';
@import '_shared';
@import '_header';
@import '_footer';
@import '_xtend2mage';
